{{define "content"}}
    <form method="post" action="/game">
        <label>Enter a username: <input type="text" name="name" required></label>
        <button type="submit">New Game</button>
    </form>
{{end}}
