{{define "content"}}
    <form data-hx-post="/game" data-hx-target="#content">
        <label>Enter a username: <input type="text" name="name" required></label>
        <button type="submit">New Game</button>
    </form>
{{end}}
